<h1>Welcome <%= @user.name %>!</h1>

<%= link_to "Discover Movies", "/user/discover" %>

<div class="friends">
  <h3>Friends</h3>
  # @friends.each do
</div>

<div class="viewing_parties">
  <h3>Viewing Parties</h3>
  # @viewing_parties.each do
</div>
